@tailwind base;
@tailwind components;
@tailwind utilities;

/* clean up fonts */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;500&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Gloria+Hallelujah&family=Montserrat:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Prompt:wght@200&display=swap');


* {
 font-family: 'Crimson Text', serif;
 background-color: #f8fafc;
}

body {
    margin: 10px;
}


