@tailwind base;
@tailwind components;
@tailwind utilities;

/* clean up fonts */

* {
  font-family: "Crimson Text", serif;

  /* for PRANKING */
  /* font-family: 'Gloria Hallelujah', cursive; */

  background-color: #f8fafc;
}

.nameHeader {
  font-family: "Crimson Pro", serif;
}

body {
  margin: 10px auto;
  max-width: 1000px;
}
